.container {
  width: 100vw;
  height: 100vh;
}

.brand {
  font-size: 2.3rem;
}

.content {
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 14px;
  border-color: greenyellow;
}

.header div {
  display: flex;
  align-items: center;
}

.header div :last-child {
  gap: 5rem;
}

.avatar {
  width: 5vw;
}

.navbar .mobileHidden,
.header .mobileHidden {
  display: flex;
}

.navbar .mobileVisible,
.header .mobileVisible {
  display: none;
}

.movtit {
  font-size: 2vw;
}

@media (max-width: 794px) {
  .navbar .mobileHidden,
  .header .mobileHidden {
    display: none;
  }

  .navbar .mobileVisible,
  .header .mobileVisible {
    display: flex;
  }
}
